{% extends 'base.html' %}


{% block content %}
<style>
h1{
    padding-top: 45px;
}
#graph{
    padding-left: 25%;
}
</style>
<h1>Consommation totale pour l'année 2019<br>pour une filière :</h1>



<div id="menus">    

    <form method="post">
        <label for="conso">Selectionnez une filière :</label>
        <select name="conso" id="conso">
            <option></option>
            <option value="Electricité">Electricité</option>
            <option value="Gaz">Gaz</option>

        <input name="btn_submit" type="submit" value="ok" id="btn_submit" class="button"/>
    </form>
    
</div>

<h2>La consommation pour la filière {{sector}} est : {{consofiliere}}</h2>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>
<body>

    <h1>consommations d'énérgie en 2019</h1>
    <div id="graph">
    <div style="width: 65%">
        <canvas id="myChart"></canvas>
    </div>

    <script>
        var ctx = document.getElementById('myChart').getContext('2d');

        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'bar',

            // The data for our dataset
            data: {
            labels: ['Electricité', 'Gaz'],
            datasets: [{
            label: "Consommation par filière pour toutes les régions pour l'année 2019",
            backgroundColor: ['rgba(255, 99, 132, 0.2)', 'rgba(75, 192, 192, 0.2)'],
                // 'rgba(255, 99, 132, 0.2)',
                // 'rgba(54, 162, 235, 0.2)',
                // 'rgba(255, 206, 86, 0.2)',
                // 'rgba(75, 192, 192, 0.2)',
                // 'rgba(153, 102, 255, 0.2)',
                // 'rgba(255, 159, 64, 0.2)'
            borderColor: 'rgb(255, 99, 132)',
            data: [432764580.2850981, 477584678.8279378]
            }]
        },

        // Configuration options go here
        options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
        });
    </script>
    </div>
</body>
{% endblock %}